.container {
  transition: all .5s;
  background-color: rgba(0,0,0,.7);
  backdrop-filter: blur(2px);
  width: 100vw;
  height: 100vh;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;

  .menu {
    transition: all 0.5s;
    top: 0rem;
    z-index: 9999;
    right: 1rem;
    background-image: linear-gradient(deg(160), #120c56, rgb(192, 53, 11));
    position: absolute;
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .top {
      border-bottom: 1px solid var(--gray-500);
      display: flex;
      align-items: center;
      padding-bottom: .4rem;
      justify-content: center;
      width: 100%;
      > svg {
        font-size: 3rem;
        color: var(--purple-light);

        &:hover {
          color: var(--primary);
        }
      }
    }

    > ul {
      height: 100%;
      margin-top: 4rem;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;

      > li {
        border-bottom: 1px solid var(--gray-500);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .5rem 0;
        padding: .5rem 0;
        list-style: none;
        font-size: 1.2rem;
        color: var(--white);

        &:hover {
          transition: .3s;
          cursor: pointer;
          color: var(--purple-light);
      
        }
      }
    }

    .closeButton {
    }
  }
}

.off {
  transition: all .9s;
  top: -1000px;
  position: absolute;
  background-color: transparent;
  backdrop-filter: blur(0px);
  z-index: 999;
  right: 0;
  left: 0;

  .menu{

    >ul{
      display: none;
    }
  }
}
